
<h1 id ="homeHeading">Codeial <%=title%></h1>
<section id = "homeContainer">
    <section id="posts">
        <% if(locals.user){ %>
        <form action ="/post/create" method ="POST" id = "postForm">
            <textarea placeholder="Type Here..." required cols="30" rows="3" name ="content"></textarea>
            <input type="Submit" value = "Post">
        </form>
        <% } %>
    
        <section id="postContainer">
            <ul>
                <% for(post of posts){ %>
                    <%-include('./_post')-%>
                <%}%>
            </ul>
        </section>
    </section>
    <section id="otherHalf">
        <div id = "Friends">
            <h2>
                Friends
            </h2>
            <% if(locals.user){ %>
                <ul>
                    <% for(friend of userFriends.friendships){%>
                        <li id = "friend-<%= friend._id %>">
                            <%if(friend.from_user.id == locals.user.id){%>
                                <%= friend.to_user.name%>
                            <%}else{%>
                                <%= friend.from_user.name%>
                            <%}%>
                            <a href = "/user/friend/remove/?friendId=<%= friend._id %>" class = "remove-friend">Remove</a>
                        </li>
                    <%}%>
                </ul>
            <% } %>
            
        </div>
        <div id = "Users">
            <h2>
                Users
            </h2>
            <ul>
                <% for(u of allUsers){%>
                    <li>
                        <a href = "/user/profile/<%=u.id%>"><%=u.name%></a>
                    </li>
                <%}%>
            </ul>
        </div>
    </section>
</section>

<script src ="/js/script.js"></script>
<script src ="/js/friends.js"></script>