<html>
    <head>
        <title>
            Codeial
        </title>
        <link rel="stylesheet" type="text/css" href="/css/signUp.css">
        <%- style %>
    </head>
    <body>
        <%- include('./_header')%>
        <%- body%>
        <%- include('./_footer')%>

        <%- script %>
    </body>
</html>